# Archivos sensibles
*.env
*.env.test

# Dependencias de Node.js
node_modules/

# Archivos generados por npm
package-lock.json

# Archivos específicos de VSCode
.vscode/

# Archivos específicos de Windows
Thumbs.db
Desktop.ini

# Archivos de logs
*.log

# Archivos de Prisma
/generated/prisma